<!DOCTYPE html>
<html lang="ch">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <title>你坛 - Post it</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="icon" type="image/png" href="../assets/i/favicon.png">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="../assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="../assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileImage" content="../assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">
  <link rel="stylesheet" href="../assets/css/amazeui.min.css">
  <link rel="stylesheet" href="../assets/css/app.css">
  <link rel="stylesheet" href="//unpkg.com/element-ui@2.15.5/lib/theme-chalk/index.css">
</head>
<style>
  .des {
    font-size: 13px;
    color: #999;
  }

  .bottom {
    margin-top: 13px;
    line-height: 12px;
  }

  .image {
    width: 100%;
    display: block;
  }

  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }

  .clearfix:after {
    clear: both
  }
  .header {
    text-align: left;
    margin-left: 80px;
  }

  .header h1 {
    font-size: 300%;
    color: #333;
    margin-top: 30px;
  }

  .header p {
    font-size: 18px;
  }

  .header img {
    float: left;
    margin-right: 20px;
    width: 250px;
    height: 250px;
  }

  .box-card {
    width: 1750px;
  }

  .text {
    font-size: 14px;
  }

  .item {
    margin-bottom: 18px;
  }

  .app {
    height: 100vh;
    overflow-x: hidden;
  }
</style>
<body>
<div id="app" class="app">
  <header class="am-topbar am-topbar-inverse admin-header" id="header">
    <div class="am-topbar-brand">
      <strong>Post it</strong> <small>你坛</small>
    </div>
    <div class="am-collapse am-topbar-collapse">
      <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
        <li class="am-hide-md-only" v-if="!isLogin">
          <a href="javascript:;"><span class="admin-fullText" @click="loginDialogVisible = true">登录</span></a>
        </li>
        <li class="am-hide-md-only" v-if="!isLogin">
          <a href="javascript:;"><span class="admin-fullText" @click="registerDialogVisible = true">注册</span></a>
        </li>
        <li class="am-hide-md-only" v-if="isLogin">
          <a href="javascript:;"><span class="admin-fullText">
            <el-dropdown>
              <el-button type="primary" style="background-color: #0c80ba">
                {{userName}}<i class="el-icon-arrow-down el-icon--right"></i>
              </el-button>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item @click.native="openMessages()">我的消息</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </span></a>
        </li>
        <li class="am-hide-sm-only" v-if="isLogin">
          <a href="javascript:;"><span class="admin-fullText">
            <el-button type="primary" icon="el-icon-edit" style="background-color: #0c80ba" @click="postDialogVisible = true"></el-button>
          </span></a>
        </li>
        <li class="am-hide-sm-only">
          <a href="javascript:;"><el-button icon="el-icon-switch-button" style="background-color: #0c80ba" @click="logout()" circle></el-button></a>
        </li>
      </ul>
    </div>
  </header>

  <el-dialog title="登录" :visible.sync="loginDialogVisible" width="30%">
    <el-form :model="form">
      <el-form-item label="用户名" :label-width="formLabelWidth">
        <el-input v-model="form.name" autocomplete="off" size="48px"></el-input>
      </el-form-item>
      <el-form-item label="密 码" :label-width="formLabelWidth">
        <el-input v-model="form.password" autocomplete="off" show-password></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="loginDialogVisible = false">取 消</el-button>
      <el-button type="primary" @click="login()">确 定</el-button>
    </div>
  </el-dialog>

  <el-dialog title="注册" :visible.sync="registerDialogVisible" width="30%">
    <el-form :model="form">
      <el-form-item label="用户名" :label-width="formLabelWidth">
        <el-input v-model="form.name" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="密 码" :label-width="formLabelWidth">
        <el-input v-model="form.password" autocomplete="off" show-password></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="registerDialogVisible = false">取 消</el-button>
      <el-button type="primary" @click="register()">确 定</el-button>
    </div>
  </el-dialog>

  <el-dialog title="新的帖子" :visible.sync="postDialogVisible">
    <el-form :model="newPost">
      <el-form-item label="帖子名称" :label-width="postDialogWidth">
        <el-input v-model="newPost.name" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="帖子内容" :label-width="postDialogWidth">
        <div id="comment-input">
          <el-input type="textarea" :autosize="{ minRows: 6}" placeholder="请输入内容" v-model="newPost.reply"></el-input>
        </div>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="postDialogVisible = false">取 消</el-button>
      <el-button type="primary" @click="sendPost()">发 帖</el-button>
    </div>
  </el-dialog>

  <div class="header">
    <div><img :src="coverPath()"></div>
    <div class="am-g">
      <h1>{{blockName}}</h1>
      <p>{{blockDes}}</p>
    </div>
    <hr />
  </div>

  <div id="posts">
    <h1 style="margin-left: 80px">所有帖子</h1>
    <el-row v-for="(post, index) in posts" :key="post">
      <el-col :span="1750" :offset="1">
        <el-card class="box-card">
          <div slot="header" class="clearfix" @click="openPost(post.postId)">
            <span>{{post.name}}</span>
            <span style="float: right; padding: 3px 0" type="text">{{post.publisherName}}</span>
          </div>
          <div class="bottom clearfix">
            <span class="des">{{post.publishTime}}</span>
          </div>
        </el-card>
      </el-col>
    </el-row>
    <hr />
  </div>

  <el-pagination style="margin-left: 80px" background layout="prev, pager, next" @current-change="onCurrentChange" :current-page="currentPage" :total="postNum" :page-size="10"></el-pagination>
  <el-backtop target=".app"><i class="el-icon-caret-top"></i></el-backtop>
</div>
</body>

<script src="../assets/vue.js"></script>
<script src="//unpkg.com/element-ui@2.15.5/lib/index.js"></script>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="../assets/js/amazeui.ie8polyfill.min.js"></script>
<script src="../assets/js/amazeui.min.js"></script>
<script>
  let data =
          {
            loginDialogVisible: false,
            registerDialogVisible: false,
            postDialogVisible: false,
            newPost: {name: "", reply: ""},
            form: {name: "", password: ""},
            formLabelWidth: "55px",
            postDialogWidth: "100px",
            isLogin: false,
            userName: "",
            userId: 0,
            currentPage: 1,
            postNum: 0,
            blockName: "",
            blockDes: "",
            posts: [],
            functions:
                    {
                      getPosts: function ()
                      {
                        $.post("/post_it/block/get_block_posts_num", function (res)
                        {
                          let result = JSON.parse(res)

                          if (result.success === true)
                          {
                            data.postNum = result.num
                          }
                          else
                          {
                            alert(result.msg)
                          }
                        })

                        $.post("/post_it/block/get_block_posts", {page: data.currentPage}, function (res)
                        {
                          let result = JSON.parse(res)

                          if (result.success === true)
                          {
                            data.posts = result.posts
                          }
                          else
                          {
                            alert(result.msg)
                          }
                        })
                      }
                    }
          }

  new Vue(
          {
            el: '#app',
            data: data,
            created: function ()
            {
              $.post("/post_it/get_account_info", function (res)
              {
                let result = JSON.parse(res)

                if (result.success === true)
                {
                  if (result.isLogin === true)
                  {
                    data.userName = result.name
                    data.userId = result.id
                    data.isLogin = true
                  }
                  else
                  {
                    data.isLogin = false
                  }
                }
                else
                {
                  data.isLogin = false
                  alert(result.msg)
                }
              })

              $.post("/post_it/block/get_block_info", function (res)
              {
                let result = JSON.parse(res)

                if (result.success === true)
                {
                  data.blockName = result.name
                  data.blockDes = result.des
                }
                else
                {
                  alert(result.msg)
                }
              })

              data.functions.getPosts()
            },
            methods:
                    {
                      openPost: function (id)
                      {
                        window.open("/post_it/post?id=" + id)
                      },

                      openMessages: function ()
                      {
                        window.open("/post_it/messages")
                      },

                      login: function ()
                      {
                        $.post("/post_it/login", data.form, function (res)
                        {
                          let result = JSON.parse(res)

                          if (result.success === true)
                          {
                            alert("登陆成功~")

                            data.loginDialogVisible = false
                            data.userName = result.name
                            data.userId = result.id
                            data.isLogin = result.isLogin
                          }
                          else
                          {
                            alert(result.msg)
                          }
                        })
                      },

                      register: function ()
                      {
                        $.post("/post_it/register", data.form, function (res)
                        {
                          let result = JSON.parse(res)

                          if (result.success === true)
                          {
                            alert("注册成功~")

                            data.registerDialogVisible = false
                            data.userName = result.name
                            data.userId = result.id
                            data.isLogin = result.isLogin
                          }
                          else
                          {
                            alert(result.msg)
                          }
                        })
                      },

                      logout: function ()
                      {
                        $.post("/post_it/logout", function ()
                        {
                          data.isLogin = false
                        })
                      },

                      coverPath: function ()
                      {
                        return "../assets/block_icons/block_icon_" + data.blockName + ".png"
                      },

                      onCurrentChange: function (page)
                      {
                        data.currentPage = page
                        data.functions.getPosts()
                      },

                      sendPost: function ()
                      {
                        $.post("/post_it/block/send_post",
                                {postName: data.newPost.name, reply: this.handleText(data.newPost.reply), userName: data.userName},
                        function (res)
                        {
                          let result = JSON.parse(res)
                          alert(result.msg)

                          data.postDialogVisible = false
                          data.functions.getPosts()
                        })
                      },

                      handleText: function (text)
                      {
                        return text.replace(/\r\n/g, "<br/>").replace(/\n/g, "<br/>").replace(/\s/g, "&nbsp;")
                      }
                    }
          })
</script>
</html>